/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

body {
  background-image: url("./images/ferenc-horvath-skcFiBu91AA-unsplash.jpg");

  background-size: 100vw auto;
}
.cardContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.loginHeader {
  margin-top: 60px;
  background-color: #031D44;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  height:80px;
}
.titleCircle {
  transform: translateX(calc(50vw - 50%));
  color: #01BAEF;
  font-family: serif;
  font-style: oblique;
  width: 170px;
  height: 170px;
  background-color: #031D44;
  padding:50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform .7s;
}
.titleCircleText{
  transition: transform .7s;
}
.titleCircle.loggedIn{
  transform: translateX(-25%);
}
.titleCircle.loggedIn .titleCircleText{
  transform: translateX(30%);
}
